In [47]:
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
import pandas as pd
from typing import Optional

# Making the SQL connection and query

In [59]:
def query_database(db_uri: str, sql_query: str) -> Optional[pd.DataFrame]:
    """
    Connects to a database using the provided URI, executes a SQL query,
    and returns the result as a pandas DataFrame.

    Args:
        db_uri (str): The database connection string in SQLAlchemy format
                      (e.g., "mysql+mysqlconnector://user:pass@host/db").
        sql_query (str): The SQL query to be executed.

    Returns:
        Optional[pd.DataFrame]: A pandas DataFrame containing the query results,
                                or None if an error occurs.
    """
    try:
        engine = create_engine(db_uri)
        print("Successfully created database engine.")

        with engine.connect() as connection:
            df = pd.read_sql(sql_query, connection)
        
        print("Query executed successfully.")
        return df

    except SQLAlchemyError as e:
        print(f"A database error occurred: {e}")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {e}")
        return None


if __name__ == "__main__":

    DB_URI = "mysql+mysqlconnector://dbuser:dbpassword@localhost/bettertire"
    
    SQL_QUERY = """
        SELECT
            p.ProductNumber AS 'Product Number',
            p.ProductName AS 'Product Name',
            SUM(td.Quantity) AS 'Total Quantity Sold'
        FROM
            Transaction_Details td
        JOIN
            Products p ON td.ProductID = p.ProductID
        GROUP BY
            p.ProductNumber, p.ProductName
        ORDER BY
            SUM(td.Quantity) DESC;
    """

    product_data = query_database(DB_URI, SQL_QUERY)

    if product_data is not None:
        print("\n Top Selling Products: \n ")
        print(product_data.head())

Successfully created database engine.
Query executed successfully.

 Top Selling Products:

  Product Number                Product Name  Total Quantity Sold
0       GY-ENDUR      Goodyear Endurance RSA              12404.0
1      MICH-XZA3              Michelin XZA3+              12390.0
2        GY-G572  Goodyear G572 LHD Fuel Max              12004.0
3      MICH-XDN2               Michelin XDN2              11870.0
4    BRIDGE-M726        Bridgestone M726 ELA              11818.0

In [60]:
query_database?

Signature: query_database(db_uri: str, sql_query: str) -> Optional[pandas.core.frame.DataFrame]
Docstring:
Connects to a database using the provided URI, executes a SQL query,
and returns the result as a pandas DataFrame.

Args:
    db_uri (str): The database connection string in SQLAlchemy format
                  (e.g., "mysql+mysqlconnector://user:pass@host/db").
    sql_query (str): The SQL query to be executed.

Returns:
    Optional[pd.DataFrame]: A pandas DataFrame containing the query results,
                            or None if an error occurs.
File:      /var/folders/t5/sxblnh9s6r744cwj7y86ts1r0000gn/T/ipykernel_13951/3426651641.py
Type:      function

# generate fake data! 

Run several times if more data is needed.

In [ ]:
# import pandas as pd
# from sqlalchemy import create_engine, text
# from sqlalchemy.exc import SQLAlchemyError
# from faker import Faker
# import random
# from datetime import datetime, timedelta

# DB_URI = "mysql+mysqlconnector://dbuser:dbpassword@localhost/bettertire"

# TRANSACTIONS_PER_MONTH_RANGE = (20, 45)
# TRANSACTION_PERIOD_MONTHS = 12
# LINE_ITEMS_PER_TRANSACTION_RANGE = (1, 12)

# def get_existing_data(engine):
#     """Fetches existing IDs and data from core tables to ensure relational integrity."""
#     try:
#         with engine.connect() as connection:
#             customers = pd.read_sql("SELECT CustomerID FROM Customers", connection)
#             users = pd.read_sql("SELECT UserID FROM Users", connection)
#             products = pd.read_sql("SELECT ProductID, UnitPrice FROM Products", connection)
            
#             print("Successfully fetched existing data from Customers, Users, and Products tables.")
#             return {
#                 "customer_ids": customers['CustomerID'].tolist(),
#                 "user_ids": users['UserID'].tolist(),
#                 "products": products.to_dict('records')
#             }
#     except SQLAlchemyError as e:
#         print(f"Error fetching existing data: {e}")
#         return None

# def generate_and_insert_data(engine, existing_data):
#     """Generates and inserts a year's worth of transaction data."""
#     if not all(existing_data.values()) or not all(len(v) > 0 for v in existing_data.values()):
#         print("Cannot generate data. Missing essential IDs from database. Ensure Customers, Users, and Products are populated.")
#         return

#     fake = Faker()
#     transactions_to_insert = []
#     details_to_insert = []
    
#     used_ref_numbers = set()

#     end_date = datetime.now()
#     start_date = end_date - timedelta(days=365)
    
#     current_date = start_date
#     while current_date < end_date:
#         num_transactions = random.randint(*TRANSACTIONS_PER_MONTH_RANGE)
        
#         for _ in range(num_transactions):
#             transaction_datetime = fake.date_time_between(start_date=current_date, end_date=current_date + timedelta(days=30))
#             if transaction_datetime > end_date:
#                 continue

#             while True:
#                 ref_num = f"INV-{random.randint(20240000, 20259999)}"
#                 if ref_num not in used_ref_numbers:
#                     used_ref_numbers.add(ref_num)
#                     break
            
#             transaction = {
#                 "TransactionDateTime": transaction_datetime,
#                 "TransactionType": 'INVC',
#                 "ReferenceNumber": ref_num,
#                 "CustomerID": random.choice(existing_data['customer_ids']),
#                 "ReceivingPONumber": f"PO-{random.randint(10000, 50000)}",
#                 "CreatedByUserID": random.choice(existing_data['user_ids']),
#                 "CreatedDateTime": transaction_datetime - timedelta(minutes=random.randint(5, 60)),
#                 "LastChangedByUserID": random.choice(existing_data['user_ids']),
#                 "LastChangedDateTime": transaction_datetime,
#             }
#             transactions_to_insert.append(transaction)

#         current_date += timedelta(days=30)

#     print(f"Generated {len(transactions_to_insert)} transactions.")

#     if not transactions_to_insert:
#         print("No transactions were generated.")
#         return

#     try:
#         with engine.connect() as connection:
#             with connection.begin():
#                 max_id_before_insert_result = connection.execute(text("SELECT MAX(TransactionID) FROM Transactions"))
#                 max_id_before_insert = max_id_before_insert_result.scalar_one_or_none() or 0

#                 trans_df = pd.DataFrame(transactions_to_insert)
#                 trans_df.to_sql('Transactions', con=connection, if_exists='append', index=False)
                
#                 new_ids_query = text("SELECT TransactionID FROM Transactions WHERE TransactionID > :max_id")
#                 new_transactions_result = connection.execute(new_ids_query, {"max_id": max_id_before_insert})
#                 new_transaction_ids = [row[0] for row in new_transactions_result]
                
#                 print(f"Successfully inserted transactions. Found {len(new_transaction_ids)} new transaction IDs.")

#                 for trans_id in new_transaction_ids:
#                     num_line_items = random.randint(*LINE_ITEMS_PER_TRANSACTION_RANGE)
#                     for _ in range(num_line_items):
#                         product = random.choice(existing_data['products'])
#                         quantity = random.choice([2, 4, 6, 8, 12])
                        
#                         price = float(product['UnitPrice']) * random.uniform(0.98, 1.05)
#                         cost = price * random.uniform(0.80, 0.90)

#                         detail = {
#                             "TransactionID": trans_id,
#                             "ProductID": product['ProductID'],
#                             "Quantity": quantity,
#                             "Price": round(price, 2),
#                             "Cost": round(cost, 2)
#                         }
#                         details_to_insert.append(detail)
                
#                 if details_to_insert:
#                     details_df = pd.DataFrame(details_to_insert)
#                     details_df.to_sql('Transaction_Details', con=connection, if_exists='append', index=False)
#                     print(f"Successfully inserted {len(details_to_insert)} transaction detail line items.")
            
#     except SQLAlchemyError as e:
#         print(f"Database error during insertion: {e}")
#     except Exception as e:
#         print(f"An unexpected error occurred: {e}")


# if __name__ == "__main__":
#     try:
#         engine = create_engine(DB_URI)
#         print("Database engine created successfully.")
        
#         existing_data = get_existing_data(engine)
        
#         if existing_data:
#             generate_and_insert_data(engine, existing_data)
#             print("\nData seeding process completed.")

#     except Exception as e:
#         print(f"Failed to initialize database engine: {e}")

Database engine created successfully.
Successfully fetched existing data from Customers, Users, and Products tables.
Generated 398 transactions.
Successfully inserted transactions. Found 398 new transaction IDs.
Successfully inserted 2491 transaction detail line items.

Data seeding process completed.

# Generating sales for rest of project

In [61]:
sql_query = """
    SELECT
        DATE(t.TransactionDateTime) AS 'Transaction Date',
        t.TransactionType AS 'Transaction Type',
        t.ReferenceNumber AS 'Reference Number',
        c.CustomerVendorNumber AS 'Customer Vendor #',
        c.CustomerVendorName AS 'Customer/Vendor Name',
        p.ProductNumber AS 'Product Number',
        p.ProductName AS 'Product Name',
        t.ReceivingPONumber AS 'Receiving PO Number',
        td.Quantity AS 'Inventory Quantity',
        0 AS 'Non-Inventory Quantity',
        td.Price AS 'Price',
        td.Cost AS 'Cost',
        0 AS 'Inventory Balance',
        created_user.UserName AS 'Created By',
        DATE(t.CreatedDateTime) AS 'Created Date',
        TIME(t.CreatedDateTime) AS 'Created Time',
        changed_user.UserName AS 'Last Changed By',
        DATE(t.LastChangedDateTime) AS 'Last Changed Date',
        TIME(t.LastChangedDateTime) AS 'Last Changed Time'
    FROM
        Transactions t
    JOIN
        Customers c ON t.CustomerID = c.CustomerID
    JOIN
        Transaction_Details td ON t.TransactionID = td.TransactionID
    JOIN
        Products p ON td.ProductID = p.ProductID
    JOIN
        Users created_user ON t.CreatedByUserID = created_user.UserID
    JOIN
        Users changed_user ON t.LastChangedByUserID = changed_user.UserID
    ORDER BY
        t.TransactionDateTime DESC, t.ReferenceNumber, p.ProductName;
"""

DB_URI = "mysql+mysqlconnector://dbuser:dbpassword@localhost/bettertire"

data = query_database(db_uri, sql_query)

Successfully created database engine.
Query executed successfully.

In [62]:
data.head()

  Transaction Date Transaction Type Reference Number Customer Vendor #      Customer/Vendor Name Product Number                Product Name Receiving PO Number  Inventory Quantity  Non-Inventory Quantity   Price    Cost  Inventory Balance Created By Created Date    Created Time Last Changed By Last Changed Date Last Changed Time
0       2025-07-04             INVC     INV-20244080           2855395  RIVER METALS REC LOU STL    BRIDGE-M726        Bridgestone M726 ELA            PO-10533                   8                       0  611.73  500.12                  0    U651CTW   2025-07-04 0 days 10:43:55         U651JTW        2025-07-04   0 days 11:12:55
1       2025-07-04             INVC     INV-20244080           2855395  RIVER METALS REC LOU STL    BRIDGE-M726        Bridgestone M726 ELA            PO-10533                   8                       0  624.69  506.05                  0    U651CTW   2025-07-04 0 days 10:43:55         U651JTW        2025-07-04   0 days 11:12:55
2       2025-07-04             INVC     INV-20244080           2855395  RIVER METALS REC LOU STL    BRIDGE-R268     Bridgestone R268 Ecopia            PO-10533                   6                       0  587.99  499.44                  0    U651CTW   2025-07-04 0 days 10:43:55         U651JTW        2025-07-04   0 days 11:12:55
3       2025-07-04             INVC     INV-20244080           2855395  RIVER METALS REC LOU STL    BRIDGE-R268     Bridgestone R268 Ecopia            PO-10533                  12                       0  582.55  496.44                  0    U651CTW   2025-07-04 0 days 10:43:55         U651JTW        2025-07-04   0 days 11:12:55
4       2025-07-04             INVC     INV-20244080           2855395  RIVER METALS REC LOU STL        GY-G399  Goodyear G399 LHS Fuel Max            PO-10533                  12                       0  566.74  460.21                  0    U651CTW   2025-07-04 0 days 10:43:55         U651JTW        2025-07-04   0 days 11:12:55