In [213]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime
import csv
import numpy as np

In [226]:
df1 = pd.read_excel (r'372.xlsx',header=[3])
df1.drop(columns=['Transaction Type', 'Reference Number', 'Customer Vendor #','Inventory Balance', 'Transaction Date.1','Reference Number.1', 'Created By', 'Created Date', 'Inventory Quantity','Transaction Type.1', 'Created Time', 'Last Changed By', 'Last Changed Date','Receiving PO Number', 'Last Changed Time' ], inplace=True)
df1.rename(columns={'Customer/Vendor Name' : 'Customer','Non-Inventory Quantity': 'Qty'}, inplace=True)
df1 = df1[df1.Customer != "TRANSFERS TO #372 J'VILLE"]
df1 = df1[df1.Customer != "TRANSFERS TO #374 SEYMOUR"]
df1 = df1[df1.Customer != "TRANSFERS TO #373 E-TOWN"]
df1 = df1[df1.Customer != "TRANSFERS TO #375 S'VILLE"]
df1 = df1[df1.Customer != "*** STORE TRANSFERS ***"]
df1 = df1[df1.Customer != "Beginning Balance"]
df1 = df1[df1.Customer != 'Net Activity']
df1 = df1[df1.Customer != 'Ending Balance']
df1 = df1[df1.Customer != 'VOID']
df1 = df1.dropna(how="all")

Gross = df1.Qty * df1.Price
df1['Gross'] = Gross.where(df1.Price == 'Qty', other=Gross)

Net = df1.Qty * df1.Cost 
df1['Net'] = Net.where(df1.Cost == 'Qty', other=Net)

Net = df1.Gross - df1.Net 
df1['Net'] = Net.where(df1.Gross == "Net", other=Net)

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [227]:
df1.head()

   Transaction Date                   Customer  Qty  Price  Cost  Gross    Net
1        2022-10-31  GOTTA GO, INC. - TRACKING  1.0   75.0  50.0   75.0   25.0
8        2022-10-12  ERNST CONCRETE KENTUCKIAN  8.0   80.0  50.0  640.0  240.0
10       2022-10-06             GOTTA GO, INC.  2.0   75.0  50.0  150.0   50.0
18       2022-09-22             GOTTA GO, INC.  2.0   75.0  50.0  150.0   50.0
19       2022-09-20  GOTTA GO, INC. - TRACKING  1.0   75.0  50.0   75.0   25.0

In [228]:
df2 = pd.read_excel (r'373.xlsx',header=[3])
df2.drop(columns=['Transaction Type', 'Reference Number', 'Customer Vendor #','Inventory Balance', 'Transaction Date.1','Reference Number.1', 'Created By', 'Created Date', 'Inventory Quantity','Transaction Type.1', 'Created Time', 'Last Changed By', 'Last Changed Date','Receiving PO Number', 'Last Changed Time' ], inplace=True)
df2.rename(columns={'Customer/Vendor Name' : 'Customer', "Transaction Date" : 'Date', 'Non-Inventory Quantity' : 'Qty'}, inplace=True)
df2 = df2[df2.Customer != "TRANSFERS TO #372 J'VILLE"]
df2 = df2[df2.Customer != "TRANSFERS TO #374 SEYMOUR"]
df2 = df2[df2.Customer != "TRANSFERS TO #373 E-TOWN"]
df2 = df2[df2.Customer != "TRANSFERS TO #375 S'VILLE"]
df2 = df2[df2.Customer != "*** STORE TRANSFERS ***"]
df2 = df2[df2.Customer != "Beginning Balance"]
df2 = df2[df2.Customer != 'Net Activity']
df2 = df2[df2.Customer != 'Ending Balance']
df2 = df2[df2.Customer != 'VOID']
df2 = df2.dropna(how="all")

Gross = df2.Qty * df2.Price
df2['Gross'] = Gross.where(df2.Price == 'Qty', other=Gross)

Net = df2.Qty * df2.Cost 
df2['Net'] = Net.where(df2.Cost == 'Qty', other=Net)

Net = df2.Gross - df2.Net 
df2['Net'] = Net.where(df2.Gross == "Net", other=Net)

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [229]:
df2.head()

        Date                      Customer   Qty  Price  Cost   Gross    Net
1 2022-07-20                BROTHERS FARMS   3.0   80.0  50.0   240.0   90.0
3 2022-04-20  REPUBLIC SERVICES, INC. 3058   8.0   75.0  50.0   600.0  200.0
4 2022-04-06                BROTHERS FARMS   3.0   75.0  50.0   225.0   75.0
7 2022-02-22                BROTHERS FARMS   6.0   75.0  50.0   450.0  150.0
8 2022-01-27  REPUBLIC SERVICES, INC. 3058  15.0   75.0  50.0  1125.0  375.0

In [230]:
df3 = pd.read_excel (r'374.xlsx',header=[3])
df3.drop(columns=['Transaction Type', 'Reference Number', 'Customer Vendor #','Inventory Balance', 'Transaction Date.1','Reference Number.1', 'Created By', 'Created Date', 'Inventory Quantity','Transaction Type.1', 'Created Time', 'Last Changed By', 'Last Changed Date','Receiving PO Number', 'Last Changed Time' ], inplace=True)
df3.rename(columns={'Customer/Vendor Name' : 'Customer','Non-Inventory Quantity': 'Qty'}, inplace=True)
df3 = df3[df3.Customer != "TRANSFERS TO #372 J'VILLE"]
df3 = df3[df3.Customer != "TRANSFERS TO #374 SEYMOUR"]
df3 = df3[df3.Customer != "TRANSFERS TO #373 E-TOWN"]
df3 = df3[df3.Customer != "TRANSFERS TO #375 S'VILLE"]
df3 = df3[df3.Customer != "*** STORE TRANSFERS ***"]
df3 = df3[df3.Customer != "Beginning Balance"]
df3 = df3[df3.Customer != 'Net Activity']
df3 = df3[df3.Customer != 'Ending Balance']
df3 = df3[df3.Customer != 'VOID']
df3 = df3.dropna(how="all")

Gross = df3.Qty * df3.Price
df3['Gross'] = Gross.where(df3.Price == 'Qty', other=Gross)

Net = df3.Qty * df3.Cost 
df3['Net'] = Net.where(df3.Cost == 'Qty', other=Net)

Net = df3.Gross - df3.Net 
df3['Net'] = Net.where(df3.Gross == "Net", other=Net)

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [231]:
df3.head()

   Transaction Date                Customer  Qty  Price  Cost  Gross    Net
2        2022-09-21   NORTH VERNON BEVERAGE  3.0   75.0  50.0  225.0   75.0
10       2022-05-26      R W TRANSPORT, INC  1.0   75.0  50.0   75.0   25.0
12       2022-05-12      R W TRANSPORT, INC  4.0   75.0  50.0  300.0  100.0
15       2022-04-30  NEW WAY TRANSPORTATION  2.0   65.0  50.0  130.0   30.0
16       2022-04-20               FOX FARMS  4.0   75.0  50.0  300.0  100.0

In [232]:
df4 = pd.read_excel (r'375.xlsx',header=[3])
df4.drop(columns=['Transaction Type', 'Reference Number', 'Customer Vendor #','Inventory Balance', 'Transaction Date.1','Reference Number.1', 'Created By', 'Created Date', 'Inventory Quantity','Transaction Type.1', 'Created Time', 'Last Changed By', 'Last Changed Date','Receiving PO Number', 'Last Changed Time' ], inplace=True)
df4.rename(columns={'Customer/Vendor Name' : 'Customer', 'Non-Inventory Quantity': 'Qty'}, inplace=True)
df4 = df4[df4.Customer != "TRANSFERS TO #372 J'VILLE"]
df4 = df4[df4.Customer != "TRANSFERS TO #374 SEYMOUR"]
df4 = df4[df4.Customer != "TRANSFERS TO #373 E-TOWN"]
df4 = df4[df4.Customer != "TRANSFERS TO #375 S'VILLE"]
df4 = df4[df4.Customer != "*** STORE TRANSFERS ***"]
df4 = df4[df4.Customer != "Beginning Balance"]
df4 = df4[df4.Customer != 'Net Activity']
df4 = df4[df4.Customer != 'Ending Balance']
df4 = df4[df4.Customer != 'VOID']
df4 = df4.dropna(how="all")

Gross = df4.Qty * df4.Price
df4['Gross'] = Gross.where(df4.Price == 'Qty', other=Gross)

Net = df4.Qty * df4.Cost 
df4['Net'] = Net.where(df4.Cost == 'Qty', other=Net)

Net = df4.Gross - df4.Net 
df4['Net'] = Net.where(df4.Gross == "Net", other=Net)

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [233]:
df4.head()

  Transaction Date          Customer  Qty  Price  Cost  Gross    Net
0       2022-11-17  HARROD TRANSPORT  4.0   75.0  50.0  300.0  100.0

In [222]:

df5 = pd.read_excel (r'376.xlsx',header=[3])

df5.drop(columns=['Transaction Type', 'Reference Number', 'Customer Vendor #','Inventory Balance', 'Transaction Date.1','Reference Number.1', 'Created By', 'Created Date', 'Inventory Quantity','Transaction Type.1', 'Created Time', 'Last Changed By', 'Last Changed Date','Receiving PO Number', 'Last Changed Time' ], inplace=True)

df5.rename(columns={'Customer/Vendor Name' : 'Customer', 'Non-Inventory Quantity': 'Qty'}, inplace=True)

df5 = df5[df5.Customer != "TRANSFERS TO #372 J'VILLE"]
df5 = df5[df5.Customer != "TRANSFERS TO #374 SEYMOUR"]
df5 = df5[df5.Customer != "TRANSFERS TO #373 E-TOWN"]
df5 = df5[df5.Customer != "TRANSFERS TO #375 S'VILLE"]
df5 = df5[df5.Customer != "*** STORE TRANSFERS ***"]
df5 = df5[df5.Customer != "Beginning Balance"]
df5 = df5[df5.Customer != 'Net Activity']
df5 = df5[df5.Customer != 'Ending Balance']
df5 = df5[df5.Customer != 'VOID']
df5 = df5.dropna(how="all")

Gross = df5.Qty * df5.Price
df5['Gross'] = Gross.where(df5.Price == 'Qty', other=Gross)

Net = df5.Qty * df5.Cost 
df5['Net'] = Net.where(df5.Cost == 'Qty', other=Net)

Net = df5.Gross - df5.Net 
df5['Net'] = Net.where(df5.Gross == "Net", other=Net)

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [223]:
df5.head(5)

,Transaction Date,Customer,Qty,Price,Cost,Gross,Net
3,2022-11-16,PENSKE #5471 - JEFFVILLE,2.0,75.0,50.0,150.0,50.0
4,2022-11-16,PENSKE #0456 - LOUISVILLE,3.0,75.0,50.0,225.0,75.0
5,2022-11-16,PENSKE #6409-10 - DERBY CITY,1.0,75.0,50.0,75.0,25.0
6,2022-11-16,"WASTE MANAGEMENT,INC",6.0,75.0,50.0,450.0,150.0
7,2022-11-16,PENSKE #5471 - JEFFVILLE,1.0,75.0,50.0,75.0,25.0

In [234]:
Net_Gross = {
    '372_Gross' : df1['Gross'].sum(),
    '372_net' : df1['Net'].sum(),
    '373_Gross' : df2['Gross'].sum(),
    '373_net' : df2['Net'].sum(),
    '374_Gross' : df3['Gross'].sum(),
    '374_net' : df3['Net'].sum(),
    '375_Gross' : df4['Gross'].sum(),
    '375_net' : df4['Net'].sum(),
    '376_Gross' : df5['Gross'].sum(),
    '376_net' : df5['Net'].sum(),
}

print(Net_Gross)

{'372_Gross': 14745.0, '372_net': 4845.0, '373_Gross': 3260.0, '373_net': 1110.0, '374_Gross': 3765.0, '374_net': 1415.0, '375_Gross': 300.0, '375_net': 100.0, '376_Gross': 83650.36, '376_net': 25450.36}

In [ ]:
df5.groupby(["Customer"])["Qty"].agg('count')

Customer
A&S TRUCK RD SERVICE LLC         3
BEST-ONE BOWLING GREEN           7
CUNDIFF STEEL ERECTORS IN        1
ELLIS LLC                        1
ERNST CONCRETE KENTUCKIAN        6
EXIE MAY FARMS                   1
FOUR SOLUTIONS LLC               3
GARY JOHNSON TRUCKING, IN        1
GENTRY COACH                     1
HILL TRANSPORTATION INC.         3
LEWIS TRANSPORT                  1
M & M CARTAGE CO., INC.         37
PENSKE #0456 - LOUISVILLE       78
PENSKE #0470 - E. LVILLE        88
PENSKE #5471 - JEFFVILLE        29
PENSKE #6409-10 - DERBY CITY     2
REPUBLIC SERVICES, INC. 3077     7
SMITH CREEK LOGISTICS            1
US LINE                          1
VITCO INC                        1
WASTE MANAGEMENT,INC            17
Name: Qty, dtype: int64