In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import datetime
import csv
import numpy as np

In [2]:
df1 = pd.read_excel (r'372.xlsx',header=[3])
df1.drop(columns=['Transaction Type', 'Reference Number', 'Customer Vendor #','Inventory Balance', 'Transaction Date.1','Reference Number.1', 'Created By', 'Created Date', 'Inventory Quantity','Transaction Type.1', 'Created Time', 'Last Changed By', 'Last Changed Date','Receiving PO Number', 'Last Changed Time' ], inplace=True)
df1.rename(columns={'Customer/Vendor Name' : 'Customer',}, inplace=True)
df1 = df1[df1.Customer != "TRANSFERS TO #372 J'VILLE"]
df1 = df1[df1.Customer != "TRANSFERS TO #374 SEYMOUR"]
df1 = df1[df1.Customer != "TRANSFERS TO #373 E-TOWN"]
df1 = df1[df1.Customer != "TRANSFERS TO #375 S'VILLE"]
df1 = df1[df1.Customer != "*** STORE TRANSFERS ***"]
df1 = df1[df1.Customer != "Beginning Balance"]
df1 = df1[df1.Customer != 'Net Activity']
df1 = df1[df1.Customer != 'Ending Balance']
df1 = df1[df1.Customer != 'VOID']
df1 = df1.dropna(how="all")

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
df1.head(40)

,Transaction Date,Customer,Non-Inventory Quantity,Price,Cost
1,2022-10-31,"GOTTA GO, INC. - TRACKING",1.0,75.0,50.0
8,2022-10-12,ERNST CONCRETE KENTUCKIAN,8.0,80.0,50.0
10,2022-10-06,"GOTTA GO, INC.",2.0,75.0,50.0
18,2022-09-22,"GOTTA GO, INC.",2.0,75.0,50.0
19,2022-09-20,"GOTTA GO, INC. - TRACKING",1.0,75.0,50.0
20,2022-09-20,MILLER TRANSPORTATION/ IN,9.0,75.0,50.0
23,2022-09-07,"GOTTA GO, INC. - TRACKING",1.0,75.0,50.0
24,2022-09-07,"GOTTA GO, INC.",2.0,75.0,50.0
25,2022-09-07,"GOTTA GO, INC.",2.0,75.0,50.0
31,2022-08-23,"GOTTA GO, INC.",1.0,75.0,50.0
32,2022-08-23,"GOTTA GO, INC. - TRACKING",1.0,75.0,50.0
34,2022-08-17,MILLER TRANSPORTATION/ IN,2.0,75.0,50.0
35,2022-08-09,"GOTTA GO, INC.",2.0,75.0,50.0
36,2022-08-08,A&S TRUCK RD SERVICE LLC,1.0,75.0,50.0
37,2022-08-03,A & R LOGISTICS INC,14.0,80.0,50.0
46,2022-07-05,A & R LOGISTICS INC,4.0,78.0,50.0
48,2022-06-08,"GOTTA GO, INC.",2.0,75.0,50.0
49,2022-06-07,A & R LOGISTICS INC,7.0,78.0,50.0
50,2022-05-31,TRANSFERS TO #376 L'VILLE,11.0,50.0,50.0
51,2022-05-31,"GOTTA GO, INC.",4.0,75.0,50.0
55,2022-05-23,"GOTTA GO, INC. - TRACKING",2.0,75.0,50.0
56,2022-05-23,A & R LOGISTICS INC,6.0,78.0,50.0
57,2022-05-17,"GOTTA GO, INC.",2.0,75.0,50.0
60,2022-04-29,A & R LOGISTICS INC,12.0,78.0,50.0
63,2022-04-21,"GOTTA GO, INC.",2.0,75.0,50.0
64,2022-04-21,"GOTTA GO, INC.",4.0,75.0,50.0
65,2022-04-18,A & R LOGISTICS INC,6.0,78.0,50.0
70,2022-04-04,A & R LOGISTICS INC,8.0,78.0,50.0
74,2022-03-23,"GOTTA GO, INC.",1.0,75.0,50.0
76,2022-03-21,"GOTTA GO, INC.",4.0,75.0,50.0
82,2022-02-25,A & R LOGISTICS INC,4.0,78.0,50.0
86,2022-02-11,A & R LOGISTICS INC,16.0,78.0,50.0
88,2022-01-24,A & R LOGISTICS INC,9.0,78.0,50.0
89,2022-01-17,A & R LOGISTICS INC,4.0,78.0,50.0
90,2022-01-17,A & R LOGISTICS INC,4.0,78.0,50.0
94,2021-12-21,"GOTTA GO, INC.",4.0,75.0,50.0
96,2021-12-10,A & R LOGISTICS INC,5.0,78.0,50.0
98,2021-11-30,C-JAMS,2.0,75.0,50.0
100,2021-11-09,MISTER P EXPRESS INC.,1.0,75.0,50.0
101,2021-11-08,RAY-LEE TRANSPORT,1.0,75.0,50.0

In [4]:
df2 = pd.read_excel (r'373.xlsx',header=[3])
df2.drop(columns=['Transaction Type', 'Reference Number', 'Customer Vendor #','Inventory Balance', 'Transaction Date.1','Reference Number.1', 'Created By', 'Created Date', 'Inventory Quantity','Transaction Type.1', 'Created Time', 'Last Changed By', 'Last Changed Date','Receiving PO Number', 'Last Changed Time' ], inplace=True)
df2.rename(columns={'Customer/Vendor Name' : 'Customer', "Transaction Date" : 'Date', 'Non-Inventory Quantity' : 'Qty'}, inplace=True)
df2 = df2[df2.Customer != "TRANSFERS TO #372 J'VILLE"]
df2 = df2[df2.Customer != "TRANSFERS TO #374 SEYMOUR"]
df2 = df2[df2.Customer != "TRANSFERS TO #373 E-TOWN"]
df2 = df2[df2.Customer != "TRANSFERS TO #375 S'VILLE"]
df2 = df2[df2.Customer != "*** STORE TRANSFERS ***"]
df2 = df2[df2.Customer != "Beginning Balance"]
df2 = df2[df2.Customer != 'Net Activity']
df2 = df2[df2.Customer != 'Ending Balance']
df2 = df2[df2.Customer != 'VOID']
df2 = df2.dropna(how="all")

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
df2.head(20)

         Date                      Customer   Qty  Price  Cost
1  2022-07-20                BROTHERS FARMS   3.0   80.0  50.0
3  2022-04-20  REPUBLIC SERVICES, INC. 3058   8.0   75.0  50.0
4  2022-04-06                BROTHERS FARMS   3.0   75.0  50.0
7  2022-02-22                BROTHERS FARMS   6.0   75.0  50.0
8  2022-01-27  REPUBLIC SERVICES, INC. 3058  15.0   75.0  50.0
10 2021-12-20                   SMITH GRAIN   4.0   80.0  50.0
14 2021-09-15                BROTHERS FARMS   4.0   75.0  50.0

In [6]:
df3 = pd.read_excel (r'374.xlsx',header=[3])
df3.drop(columns=['Transaction Type', 'Reference Number', 'Customer Vendor #','Inventory Balance', 'Transaction Date.1','Reference Number.1', 'Created By', 'Created Date', 'Inventory Quantity','Transaction Type.1', 'Created Time', 'Last Changed By', 'Last Changed Date','Receiving PO Number', 'Last Changed Time' ], inplace=True)
df3.rename(columns={'Customer/Vendor Name' : 'Customer',}, inplace=True)
df3 = df3[df3.Customer != "TRANSFERS TO #372 J'VILLE"]
df3 = df3[df3.Customer != "TRANSFERS TO #374 SEYMOUR"]
df3 = df3[df3.Customer != "TRANSFERS TO #373 E-TOWN"]
df3 = df3[df3.Customer != "TRANSFERS TO #375 S'VILLE"]
df3 = df3[df3.Customer != "*** STORE TRANSFERS ***"]
df3 = df3[df3.Customer != "Beginning Balance"]
df3 = df3[df3.Customer != 'Net Activity']
df3 = df3[df3.Customer != 'Ending Balance']
df3 = df3[df3.Customer != 'VOID']
df3 = df3.dropna(how="all")

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [7]:
df3.head(20)

,Transaction Date,Customer,Non-Inventory Quantity,Price,Cost
2,2022-09-21,NORTH VERNON BEVERAGE,3.0,75.0,50.0
10,2022-05-26,"R W TRANSPORT, INC",1.0,75.0,50.0
12,2022-05-12,"R W TRANSPORT, INC",4.0,75.0,50.0
15,2022-04-30,NEW WAY TRANSPORTATION,2.0,65.0,50.0
16,2022-04-20,FOX FARMS,4.0,75.0,50.0
18,2022-04-13,UHL IDEALEASE - AUSTIN,6.0,75.0,50.0
20,2022-04-07,SCHROER TRUCKING,4.0,65.0,50.0
23,2022-03-29,UHL IDEALEASE - AUSTIN,6.0,75.0,50.0
26,2022-03-18,UHL IDEALEASE - AUSTIN,4.0,150.0,50.0
27,2022-02-25,PADGETT TRUCKING INC/OMARA,8.0,75.0,50.0
31,2021-09-23,MIDNIGHT FLYER & CO. INC.,1.0,75.0,50.0
33,2021-08-20,MIDNIGHT FLYER & CO. INC.,4.0,75.0,50.0

In [8]:
df4 = pd.read_excel (r'375.xlsx',header=[3])

/opt/anaconda3/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [9]:
df5 = pd.read_excel (r'376.xlsx',header=[3])
# Drops the columns that arent needed
df5.drop(columns=['Transaction Type', 'Reference Number', 'Customer Vendor #','Inventory Balance', 'Transaction Date.1','Reference Number.1', 'Created By', 'Created Date', 'Inventory Quantity','Transaction Type.1', 'Created Time', 'Last Changed By', 'Last Changed Date','Receiving PO Number', 'Last Changed Time' ], inplace=True)
df5.rename(columns={'Customer/Vendor Name' : 'Customer',}, inplace=True)
df5 = df5[df5.Customer != "TRANSFERS TO #372 J'VILLE"]
df5 = df5[df5.Customer != "TRANSFERS TO #374 SEYMOUR"]
df5 = df5[df5.Customer != "TRANSFERS TO #373 E-TOWN"]
df5 = df5[df5.Customer != "TRANSFERS TO #375 S'VILLE"]
df5 = df5[df5.Customer != "*** STORE TRANSFERS ***"]
df5 = df5[df5.Customer != "Beginning Balance"]
df5 = df5[df5.Customer != 'Net Activity']
df5 = df5[df5.Customer != 'Ending Balance']
df5 = df5[df5.Customer != 'VOID']
df5 = df5.dropna(how="all")

In [10]:
df5.head(20)

,Transaction Date,Customer,Non-Inventory Quantity,Price,Cost
3,2022-11-16,PENSKE #5471 - JEFFVILLE,2.0,75.00,50.0
4,2022-11-16,PENSKE #0456 - LOUISVILLE,3.0,75.00,50.0
5,2022-11-16,PENSKE #6409-10 - DERBY CITY,1.0,75.00,50.0
6,2022-11-16,"WASTE MANAGEMENT,INC",6.0,75.00,50.0
7,2022-11-16,PENSKE #5471 - JEFFVILLE,1.0,75.00,50.0
8,2022-11-14,PENSKE #0456 - LOUISVILLE,4.0,75.00,50.0
9,2022-11-14,PENSKE #0456 - LOUISVILLE,1.0,75.00,50.0
10,2022-11-10,PENSKE #0456 - LOUISVILLE,1.0,73.87,50.0
11,2022-11-08,"WASTE MANAGEMENT,INC",6.0,75.00,50.0
12,2022-11-08,PENSKE #0470 - E. LVILLE,6.0,75.00,50.0
13,2022-11-04,"REPUBLIC SERVICES, INC. 3077",3.0,75.00,50.0
15,2022-11-02,PENSKE #0470 - E. LVILLE,3.0,75.00,50.0
16,2022-11-02,"WASTE MANAGEMENT,INC",6.0,75.00,50.0
17,2022-11-02,"WASTE MANAGEMENT,INC",6.0,75.00,50.0
18,2022-11-02,"M & M CARTAGE CO., INC.",8.0,70.50,50.0
19,2022-11-01,GENTRY COACH,6.0,100.00,50.0
20,2022-10-27,PENSKE #0470 - E. LVILLE,5.0,75.00,50.0
21,2022-10-27,PENSKE #6409-10 - DERBY CITY,2.0,75.00,50.0
22,2022-10-27,PENSKE #0456 - LOUISVILLE,1.0,75.00,50.0
23,2022-10-27,PENSKE #0470 - E. LVILLE,6.0,75.00,50.0

In [11]:
df5.shape

(289, 5)